h1{
    margin-top: 75px;
    background: aqua;
    color: black;

}
.main{
    border :3px solid black;
    height: 500px;
    margin-top: 100px;
    background:black;
}
.face{
    background: chartreuse;
    height: 150px;
    width: 150px;
    border-radius: 50% 50% 0 0;
    margin: auto;/* center*/
    margin-top: 20px;
}
.eyes{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.leye,.reye{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;

}
.center{
    height: 150px;
    width: 150px;
    background: chartreuse;
    border-radius: 0 0  40% 40%;
}
.larm,.rarm{
    height: 75px;
    width: 25px;
    background: chartreuse;
    border-radius: 50px;
    margin-top: 10px;
}
.body1{
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10px;
}
.lleg, .rleg{
    height: 75px;
    width: 25px;
    background: chartreuse;
    border-radius: 50px;
}
.legs{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    margin: auto;
    margin-top: -20px;

}
.main:hover .face{
    /*transition: width 1s ease;/* which propery and in how many seconds and how fast |ease -equal |ease_in -start slow * /*/
    transform:scale(1.2) ;/* translate-->Y AXIS -VE DOWNWARDS +VE UPWARDS AND X-AXIS +VE RIGHT SIDE| Z no usr here ||| ..>rotate|| scale--> zoom in zoom out*/
    animation: moveface 1s 0.1s infinite; 
}
@keyframes moveface{
    0%{
        transform: scale(1);

    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);

    }
}
.main:hover .body1{
    transform: scale(1.2);
   
    animation: body 1s 0.1s infinite ;
}
@keyframes body{
    0%{
        transform: scale(1);

    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);

    }

}
.main:hover .leye{
    transform: scale(1.2);
    animation: leye 1s 0.1s infinite ;
}
@keyframes leye{
    0%{
        transform: scale(1);

    }
    50%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(1);

    }    
}
.main:hover .reye{
    transform: scale(1.2);
    animation: reye 1s 0.1s infinite ;
}
@keyframes reye{
    0%{
        transform: scale(1);

    }
    50%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(1);

    }    
}
/*
.main:hover .body1{
    transform: rotate(0deg);
   
    animation: body1 1s 0.1s infinite ;
}
@keyframes body1{
    0%{
        transform: rotate(0deg);

    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);

    }

}
*/
.main:hover .center{
    border-radius: 50%;
    animation: center 1s 0.1s infinite;
}
@keyframes center{
    0%{
        border-radius: 0 0 40% 40%;

    }
    50%{
        border-radius: 50%;

    }
    100%{
        border-radius: 0 0 40% 40%;

    }


}

.main:hover .larm{
    transform: rotate(90deg);
    transform-origin: center;/* makes center top*/
    animation: llarm 1s 0.01s infinite ;
}
@keyframes llarm{
    0%{
        transform: rotate(90deg);

    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);

    }

}




.main:hover .rarm{
    transform: rotate(90deg);
    transform-origin: center;/* makes center top*/
    animation: rrarm 1s 0.01s infinite ;
}
@keyframes rrarm{
    0%{
        transform: rotate(90deg);

    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);

    }

}

.main:hover .lleg{
    transform: rotate(90deg);
    transform-origin: center;/* makes center top*/
    animation: lleg 1s 0.01s infinite ;
}
@keyframes lleg{
    0%{
        transform: rotate(90deg);

    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);

    }

}
.main:hover .rleg{
    transform: rotate(90deg);
    transform-origin: center;/* makes center top*/
    animation: rleg 1s 0.01s infinite ;
}
@keyframes rleg{
    0%{
        transform: rotate(90deg);

    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);

    }

}
.main:hover {
    background:black;
    animation: changecolor 1s 0.1s infinite;
}
@keyframes changecolor{
    0%{
        background: rgb(255, 222, 172);

    }
    50%{
        background: rgb(144, 149, 150);

    }

}